jdks/
tools/
SPECjvm2008/*
!SPECjvm2008/results/
!SPECjvm2008/results/**
!SPECjvm2008/data/
!SPECjvm2008/data/**
SPECjvm2008/data/*.data
SPECjvm2008/data/*.data.old
SPECjvm2008/data/*.dat

perf_compress_*/*.folded
perf_compress_*/*.perf
perf_compress_*/*.data
perf_compress_*/*.sqlite
